/**
 * ----------------------------------------------------------------------------------------
 * Theme Styles
 * ----------------------------------------------------------------------------------------
 */
/* Theme Margin */
.theme-margin {
  margin-bottom: 3em;
}
hr.theme-margin {
  margin-bottom: 1em;
}
/* Typography */
p a {
  color: #2b92fa;
}
p a:hover {
  color: white;
  background-color: #2b92fa;
}
h1,
h2,
h3 {
  color: #2b92fa;
  font-family: "Droid Sans", Arial, sans-serif;
}
blockquote cite {
  color: #2b92fa;
}
/* Buttons */
.theme-button-primary {
  color: #fff;
  background: #2b92fa;
  /* Old browsers */
  background: -moz-linear-gradient(top, #2b92fa 0%, #0678ec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #2b92fa), color-stop(100%, #0678ec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #2b92fa 0%, #0678ec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #2b92fa 0%, #0678ec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #2b92fa 0%, #0678ec 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #2b92fa 0%, #0678ec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@accent-color', endColorstr='darken(@accent-color, 10%)', GradientType=0);
  /* IE6-9 */
  text-shadow: 1px 1px 1px #045fbb;
}
.theme-button-primary:hover {
  background: #449ffb;
  /* Old browsers */
  background: -moz-linear-gradient(top, #449ffb 0%, #0678ec 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #449ffb), color-stop(100%, #0678ec));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #449ffb 0%, #0678ec 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #449ffb 0%, #0678ec 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #449ffb 0%, #0678ec 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #449ffb 0%, #0678ec 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@accent-color, 5%)', endColorstr='darken(@accent-color, 10%)', GradientType=0);
  /* IE6-9 */
}
.theme-button-secondary {
  border-color: #636770;
  color: #fff;
  background: #3d414d;
  /* Old browsers */
  background: -moz-linear-gradient(top, #3d414d 0%, #262931 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #3d414d), color-stop(100%, #262931));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #3d414d 0%, #262931 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #3d414d 0%, #262931 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #3d414d 0%, #262931 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #3d414d 0%, #262931 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='@secondary-button-color', endColorstr='darken(@secondary-button-color, 10%)', GradientType=0);
  /* IE6-9 */
}
.theme-button-secondary:hover {
  background: #484d5b;
  /* Old browsers */
  background: -moz-linear-gradient(top, #484d5b 0%, #262931 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #484d5b), color-stop(100%, #262931));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(top, #484d5b 0%, #262931 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(top, #484d5b 0%, #262931 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(top, #484d5b 0%, #262931 100%);
  /* IE10+ */
  background: linear-gradient(to bottom, #484d5b 0%, #262931 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='lighten(@secondary-button-color, 5%)', endColorstr='darken(@secondary-button-color, 10%)', GradientType=0);
  /* IE6-9 */
}
/* Forms */
.theme-form input[type="text"],
.theme-form input[type="email"],
.theme-form textarea {
  background-color: #E7EBED;
  border-color: #D3D6D9;
}
.theme-form input[type="text"]:hover,
.theme-form input[type="email"]:hover,
.theme-form textarea:hover,
.theme-form input[type="text"]:focus,
.theme-form input[type="email"]:focus,
.theme-form textarea:focus {
  background-color: #F1F5F7;
  border-color: #B2B8BE;
}
